.product-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px; /* Độ rộng tối đa của sản phẩm */
}

.image-info-container {
  display: flex;
  align-items: center;
}

.image-container {
  max-width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-right: 20px; /* Khoảng cách giữa ảnh và thông tin */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.info-container {
  flex: 1;
}

.title {
  text-align: center; /* Căn giữa theo chiều ngang */
  margin-top: 200px; /* Khoảng cách phía dưới */
}

