
 .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Đưa form vào giữa */
    gap: 10px; /* Tạo khoảng cách giữa các dòng */
  }
  
  .form-container {
    max-width: 600px; /* Đặt chiều rộng tối đa của form */
    margin: auto; /* Để căn giữa form trên trang */
  }

  .btn-create {
    width: 100px; /* Đặt chiều rộng lớn hơn */
    height: 30px; /* Đặt chiều cao lớn hơn */
    font-size: 18px; /* Tăng kích thước font chữ */
    font-weight: bold;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 60px;

  }

  .title {
    margin: 0px 80px;
  }

  .form-control {
    padding: 10px;
    font-size: 15px; /* Tăng kích thước chữ */
    width: 300px;
    margin-left: -150px;
  }

  

  
  
  
  